<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="$PROJECT_DIR$/../../../Program_Files/Java/jdk-20" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="personal.chinesechess.App" />
    <module name="ChineseChess" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>